<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.oms.dao.SubjScoreMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.oms.entity.SubjScore" >
    <id column="subj_score_id" property="subjScoreId" jdbcType="INTEGER" />
    <result column="paper_scan_id" property="paperScanId" jdbcType="INTEGER" />
    <result column="score_get" property="scoreGet" jdbcType="SMALLINT" />
    <result column="score" property="score" jdbcType="SMALLINT" />
    <result column="question_num" property="questionNum" jdbcType="SMALLINT" />
    <result column="point_id" property="pointId" jdbcType="INTEGER" />
    <result column="goal_id" property="goalId" jdbcType="INTEGER" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="mark_times" property="markTimes" jdbcType="TINYINT" />
    <result column="photo_address" property="photoAddress" jdbcType="VARCHAR" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    subj_score_id, paper_scan_id, score_get, score, question_num, point_id, goal_id, 
    insert_time, mark_times, photo_address, reserve1, reserve2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neuedu.oms.entity.SubjScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from subj_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subj_score
    where subj_score_id = #{subjScoreId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from subj_score
    where subj_score_id = #{subjScoreId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.oms.entity.SubjScoreExample" >
    delete from subj_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuedu.oms.entity.SubjScore" >
    insert into subj_score (subj_score_id, paper_scan_id, score_get, 
      score, question_num, point_id, 
      goal_id, insert_time, mark_times, 
      photo_address, reserve1, reserve2
      )
    values (#{subjScoreId,jdbcType=INTEGER}, #{paperScanId,jdbcType=INTEGER}, #{scoreGet,jdbcType=SMALLINT}, 
      #{score,jdbcType=SMALLINT}, #{questionNum,jdbcType=SMALLINT}, #{pointId,jdbcType=INTEGER}, 
      #{goalId,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, #{markTimes,jdbcType=TINYINT}, 
      #{photoAddress,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.oms.entity.SubjScore" >
    insert into subj_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjScoreId != null" >
        subj_score_id,
      </if>
      <if test="paperScanId != null" >
        paper_scan_id,
      </if>
      <if test="scoreGet != null" >
        score_get,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="questionNum != null" >
        question_num,
      </if>
      <if test="pointId != null" >
        point_id,
      </if>
      <if test="goalId != null" >
        goal_id,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="markTimes != null" >
        mark_times,
      </if>
      <if test="photoAddress != null" >
        photo_address,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjScoreId != null" >
        #{subjScoreId,jdbcType=INTEGER},
      </if>
      <if test="paperScanId != null" >
        #{paperScanId,jdbcType=INTEGER},
      </if>
      <if test="scoreGet != null" >
        #{scoreGet,jdbcType=SMALLINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=SMALLINT},
      </if>
      <if test="questionNum != null" >
        #{questionNum,jdbcType=SMALLINT},
      </if>
      <if test="pointId != null" >
        #{pointId,jdbcType=INTEGER},
      </if>
      <if test="goalId != null" >
        #{goalId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="markTimes != null" >
        #{markTimes,jdbcType=TINYINT},
      </if>
      <if test="photoAddress != null" >
        #{photoAddress,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.oms.entity.SubjScoreExample" resultType="java.lang.Integer" >
    select count(*) from subj_score
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update subj_score
    <set >
      <if test="record.subjScoreId != null" >
        subj_score_id = #{record.subjScoreId,jdbcType=INTEGER},
      </if>
      <if test="record.paperScanId != null" >
        paper_scan_id = #{record.paperScanId,jdbcType=INTEGER},
      </if>
      <if test="record.scoreGet != null" >
        score_get = #{record.scoreGet,jdbcType=SMALLINT},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=SMALLINT},
      </if>
      <if test="record.questionNum != null" >
        question_num = #{record.questionNum,jdbcType=SMALLINT},
      </if>
      <if test="record.pointId != null" >
        point_id = #{record.pointId,jdbcType=INTEGER},
      </if>
      <if test="record.goalId != null" >
        goal_id = #{record.goalId,jdbcType=INTEGER},
      </if>
      <if test="record.insertTime != null" >
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.markTimes != null" >
        mark_times = #{record.markTimes,jdbcType=TINYINT},
      </if>
      <if test="record.photoAddress != null" >
        photo_address = #{record.photoAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve1 != null" >
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null" >
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update subj_score
    set subj_score_id = #{record.subjScoreId,jdbcType=INTEGER},
      paper_scan_id = #{record.paperScanId,jdbcType=INTEGER},
      score_get = #{record.scoreGet,jdbcType=SMALLINT},
      score = #{record.score,jdbcType=SMALLINT},
      question_num = #{record.questionNum,jdbcType=SMALLINT},
      point_id = #{record.pointId,jdbcType=INTEGER},
      goal_id = #{record.goalId,jdbcType=INTEGER},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      mark_times = #{record.markTimes,jdbcType=TINYINT},
      photo_address = #{record.photoAddress,jdbcType=VARCHAR},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.oms.entity.SubjScore" >
    update subj_score
    <set >
      <if test="paperScanId != null" >
        paper_scan_id = #{paperScanId,jdbcType=INTEGER},
      </if>
      <if test="scoreGet != null" >
        score_get = #{scoreGet,jdbcType=SMALLINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=SMALLINT},
      </if>
      <if test="questionNum != null" >
        question_num = #{questionNum,jdbcType=SMALLINT},
      </if>
      <if test="pointId != null" >
        point_id = #{pointId,jdbcType=INTEGER},
      </if>
      <if test="goalId != null" >
        goal_id = #{goalId,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="markTimes != null" >
        mark_times = #{markTimes,jdbcType=TINYINT},
      </if>
      <if test="photoAddress != null" >
        photo_address = #{photoAddress,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where subj_score_id = #{subjScoreId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.oms.entity.SubjScore" >
    update subj_score
    set paper_scan_id = #{paperScanId,jdbcType=INTEGER},
      score_get = #{scoreGet,jdbcType=SMALLINT},
      score = #{score,jdbcType=SMALLINT},
      question_num = #{questionNum,jdbcType=SMALLINT},
      point_id = #{pointId,jdbcType=INTEGER},
      goal_id = #{goalId,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      mark_times = #{markTimes,jdbcType=TINYINT},
      photo_address = #{photoAddress,jdbcType=VARCHAR},
      reserve1 = #{reserve1,jdbcType=VARCHAR},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where subj_score_id = #{subjScoreId,jdbcType=INTEGER}
  </update>
</mapper>