<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.oms.dao.SubjAnswerMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.oms.entity.SubjAnswer" >
    <id column="subj_answer_id" property="subjAnswerId" jdbcType="INTEGER" />
    <result column="answer_id" property="answerId" jdbcType="INTEGER" />
    <result column="point_id" property="pointId" jdbcType="INTEGER" />
    <result column="goal_id" property="goalId" jdbcType="INTEGER" />
    <result column="question_num" property="questionNum" jdbcType="SMALLINT" />
    <result column="score" property="score" jdbcType="SMALLINT" />
    <result column="point_description" property="pointDescription" jdbcType="VARCHAR" />
    <result column="point_photo" property="pointPhoto" jdbcType="VARCHAR" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    subj_answer_id, answer_id, point_id, goal_id, question_num, score, point_description, 
    point_photo, reserve1, reserve2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neuedu.oms.entity.SubjAnswerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from subj_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subj_answer
    where subj_answer_id = #{subjAnswerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from subj_answer
    where subj_answer_id = #{subjAnswerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.oms.entity.SubjAnswerExample" >
    delete from subj_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuedu.oms.entity.SubjAnswer" >
    insert into subj_answer (subj_answer_id, answer_id, point_id, 
      goal_id, question_num, score, 
      point_description, point_photo, reserve1, 
      reserve2)
    values (#{subjAnswerId,jdbcType=INTEGER}, #{answerId,jdbcType=INTEGER}, #{pointId,jdbcType=INTEGER}, 
      #{goalId,jdbcType=INTEGER}, #{questionNum,jdbcType=SMALLINT}, #{score,jdbcType=SMALLINT}, 
      #{pointDescription,jdbcType=VARCHAR}, #{pointPhoto,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, 
      #{reserve2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.oms.entity.SubjAnswer" >
    insert into subj_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjAnswerId != null" >
        subj_answer_id,
      </if>
      <if test="answerId != null" >
        answer_id,
      </if>
      <if test="pointId != null" >
        point_id,
      </if>
      <if test="goalId != null" >
        goal_id,
      </if>
      <if test="questionNum != null" >
        question_num,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="pointDescription != null" >
        point_description,
      </if>
      <if test="pointPhoto != null" >
        point_photo,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjAnswerId != null" >
        #{subjAnswerId,jdbcType=INTEGER},
      </if>
      <if test="answerId != null" >
        #{answerId,jdbcType=INTEGER},
      </if>
      <if test="pointId != null" >
        #{pointId,jdbcType=INTEGER},
      </if>
      <if test="goalId != null" >
        #{goalId,jdbcType=INTEGER},
      </if>
      <if test="questionNum != null" >
        #{questionNum,jdbcType=SMALLINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=SMALLINT},
      </if>
      <if test="pointDescription != null" >
        #{pointDescription,jdbcType=VARCHAR},
      </if>
      <if test="pointPhoto != null" >
        #{pointPhoto,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.oms.entity.SubjAnswerExample" resultType="java.lang.Integer" >
    select count(*) from subj_answer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update subj_answer
    <set >
      <if test="record.subjAnswerId != null" >
        subj_answer_id = #{record.subjAnswerId,jdbcType=INTEGER},
      </if>
      <if test="record.answerId != null" >
        answer_id = #{record.answerId,jdbcType=INTEGER},
      </if>
      <if test="record.pointId != null" >
        point_id = #{record.pointId,jdbcType=INTEGER},
      </if>
      <if test="record.goalId != null" >
        goal_id = #{record.goalId,jdbcType=INTEGER},
      </if>
      <if test="record.questionNum != null" >
        question_num = #{record.questionNum,jdbcType=SMALLINT},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=SMALLINT},
      </if>
      <if test="record.pointDescription != null" >
        point_description = #{record.pointDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.pointPhoto != null" >
        point_photo = #{record.pointPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve1 != null" >
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null" >
        reserve2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update subj_answer
    set subj_answer_id = #{record.subjAnswerId,jdbcType=INTEGER},
      answer_id = #{record.answerId,jdbcType=INTEGER},
      point_id = #{record.pointId,jdbcType=INTEGER},
      goal_id = #{record.goalId,jdbcType=INTEGER},
      question_num = #{record.questionNum,jdbcType=SMALLINT},
      score = #{record.score,jdbcType=SMALLINT},
      point_description = #{record.pointDescription,jdbcType=VARCHAR},
      point_photo = #{record.pointPhoto,jdbcType=VARCHAR},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      reserve2 = #{record.reserve2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.oms.entity.SubjAnswer" >
    update subj_answer
    <set >
      <if test="answerId != null" >
        answer_id = #{answerId,jdbcType=INTEGER},
      </if>
      <if test="pointId != null" >
        point_id = #{pointId,jdbcType=INTEGER},
      </if>
      <if test="goalId != null" >
        goal_id = #{goalId,jdbcType=INTEGER},
      </if>
      <if test="questionNum != null" >
        question_num = #{questionNum,jdbcType=SMALLINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=SMALLINT},
      </if>
      <if test="pointDescription != null" >
        point_description = #{pointDescription,jdbcType=VARCHAR},
      </if>
      <if test="pointPhoto != null" >
        point_photo = #{pointPhoto,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where subj_answer_id = #{subjAnswerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.oms.entity.SubjAnswer" >
    update subj_answer
    set answer_id = #{answerId,jdbcType=INTEGER},
      point_id = #{pointId,jdbcType=INTEGER},
      goal_id = #{goalId,jdbcType=INTEGER},
      question_num = #{questionNum,jdbcType=SMALLINT},
      score = #{score,jdbcType=SMALLINT},
      point_description = #{pointDescription,jdbcType=VARCHAR},
      point_photo = #{pointPhoto,jdbcType=VARCHAR},
      reserve1 = #{reserve1,jdbcType=VARCHAR},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where subj_answer_id = #{subjAnswerId,jdbcType=INTEGER}
  </update>
</mapper>